{
  "openapi": "3.0.0",
  "info": {
    "title": "Today Menu API",
    "description": "부경대학교 정보 및 데이터베이스 연구실의 Todays Menu API 설명서 입니다",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://data.pknu.ac.kr:7443"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/userId/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/user/getProfile/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/checkLgnId/{loginId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "loginId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/deleteUser/{userId}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/getAllergy": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/user/updateProfile/": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile": {
                    "example": "any"
                  },
                  "user_id": {
                    "example": "any"
                  },
                  "allergy": {
                    "example": "any"
                  },
                  "exercise": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/signUp": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile": {
                    "example": "any"
                  },
                  "allergy": {
                    "example": "any"
                  },
                  "exercise": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/user/signIn": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/menu/getMenu/id/{userId}/style/{style}/tags/{tags}/calorie/{calorie}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calorie",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "calorie",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/check/upload": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/map/getaddress/query/{query}": {
      "get": {
        "tags": [
          "Map"
        ],
        "description": "",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "검색어"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/map/getregion/x/{x}/y/{y}": {
      "get": {
        "tags": [
          "Map"
        ],
        "description": "",
        "parameters": [
          {
            "name": "x",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "longitude"
          },
          {
            "name": "y",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "latitude"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/map/search/query/{query}/x/{x}/y/{y}/radius/{radius}/rect/{rect}/size/{size}": {
      "get": {
        "tags": [
          "Map"
        ],
        "description": "",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "검색어"
          },
          {
            "name": "x",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "longitude"
          },
          {
            "name": "y",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "latitude"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "중심좌표에서의 반경 (단위: 미터, 최대 20000)"
          },
          {
            "name": "rect",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "좌측 x, 좌측 y, 우측 x, 우측 y"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "최대개수"
          }
        ],
        "responses": {}
      }
    },
    "/api/map/getaddress/query/{queryoptions}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "queryoptions",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {}
      }
    }
  }
}